:root{
    --header-color:rgba(12, 15, 70, 0.945);
    --sidebar-color:rgba(30, 46, 99, 0.945);
    --font-header-color:white;
    --category-background-color:rgb(42, 136, 165);
}
*{
    padding:0;
    margin:0;
}
html{
    font-size:16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    display:grid;
    grid-template-rows:1fr 5fr 0.5fr;
    width:100vw;
    height:100vh;
    
}
header{
  grid-row:1/2;
  background:var(--header-color);
  color:var(--font-header-color);
  display:flex;
  align-items:center;
}
header h1{
    font-size:clamp(2rem,3vw,6rem);
    margin-left:2rem;
}
main{
    grid-row:2/3;
    display:grid;
    grid-template-columns:minmax(250px,1fr) 4fr;
}
.sidebar{
    grid-column:1/2;
    font-size:3rem;
    background-color:var(--sidebar-color);
    color:var(--font-header-color);
}
.category ul,.projects ul{
    display:flex;
    flex-direction: row;
    gap:1rem;
}
.category li img{
  margin-right:0.5rem;
  width:50px;
  height:50px;
}
.projects{
    grid-column:1/2;
    background-color:var(--sidebar-color);
    padding-left:0.5rem;
}
.projects ul{
    margin-top:1rem;
    display:flex;
    flex-direction: column;

}
.category li h3{
    font-size:3rem;
}
.category ul{
    justify-content:space-evenly;
    align-items: center;
    margin-top:1rem;
}

.projectCategory{
    display:flex;
    margin-top:2rem;
    justify-content:space-between;
}

.projectCategory h2{
    font-size:clamp(2rem,2.5vw,5rem);
    color:white;
}
.category li{
    display:flex;
    cursor:pointer;
}
.mainContent{
    grid-column:2/3;
    display:grid;
    grid-template-rows:5rem 1fr;
    position:relative;
}
.category{
    grid-row:1/2;
    background-color:var(--category-background-color);
}
.mainPart{
    grid-row:2/3;
    padding:2rem clamp(2rem,10vw,16rem);
    height:100vh;
    overflow:auto;
}

footer{
    grid-row:3/4;
    background-color: var(--header-color);
    color:var(--font-header-color);
    display:flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size:clamp(1rem,2vw,5rem);
    color:var(--font-header-color);
}
footer img{
    width:30px;
    height:30px;
    margin-left:1rem;
}
.projectThreeDotIcon,.taskThreeDotIcon{
    width:30px;
    height:30px;
    cursor:pointer;
    margin-right:1rem;
}
.projects li h3{
    font-size:clamp(1rem,2vw,2.5rem);
    color:var(--font-header-color)
}
.projects li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    position:relative;
}
.container{
    display:flex;
    justify-content:space-between;
}
.container img{
    width:45px;
    height:45px;
    margin-right:1rem;
    cursor:pointer;
}
.projectAddBoard,.taskAddBoard{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    background-color:white;
    padding:2rem 1.5rem;
}
.projectAddBoard{
    width:20rem;
}
.notify{
    margin-top:1rem;
}
.projectAddBoard label{
    font-size:1.5rem;
    font-weight: bold;
    padding-bottom:0.5rem;
}
.projectAddBoard input{
    font-size:1.5rem;
}
.projectAddBoard img{
    width:20px;
    height:20px;
    position:absolute;
    right:1rem;
    top:1rem;
    cursor:pointer;
}
.blurLayer{
    opacity:0.5;
    background-color:black;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
}
.projectSubmitBtn{
    background-color:#3fa6fa;
    width:100%;
    color:var(--font-header-color);
    margin-top:0.7rem;
}
.projectOptionBox{
    position:absolute;
    right:-12rem;
    bottom:0;
    border:1px solid;
    background-color:rgb(214, 214, 214);
    z-index:1;
    list-style:none;
}
.optionBox{
    position:relative;
}

.projectUpdateBtn,.projectDeleteBtn,.taskDeleteBtn,.taskUpdateBtn{
    padding:0.5rem 3rem;
    background-color:rgb(235, 225, 225);
    border:none;
    cursor:pointer;
    font-size:1.5rem;
    font-weight: bold;
    width:100%;
}
.taskList .task{
    display:flex;
    justify-content:space-between;
    background-color:bisque;
    margin-bottom:2rem;
    padding:0.5rem 1rem;
    border-radius:0.5rem;
    align-items: center;
    position:relative;
    min-width:15rem;
}
.taskList .task .threeDotIcon{
    cursor:pointer;

}
.taskList .task input{
    width:25px;
    height:25px;
    margin-right:2rem;
    margin-left:2rem;
}
/* .taskList .task p:not(.priorityLevelUI){
    flex:1;
    font-size:1.25rem;
} */
.taskList .task p{
    flex:1;
    font-size:clamp(1.3rem,1.5vw,3rem);
    text-align:left;
    margin-right:2rem;
}

.addIconProject{
    width:50px;
    height:50px;
    cursor:pointer;
    margin-bottom:3rem;
}
.priorityLevelUI{
    display:inline-block;
    height:100%;
    width:1rem;
    position:absolute;
    left:0;
    bottom:0;
    top:0;
}
.taskHeader{
    display:flex;
    align-items:center;
    margin-bottom:2rem;
 
}
.taskHeader h2{
    font-size:clamp(1.5rem,2vw,3rem);
    margin-right:1rem;
}
.taskHeader img{
    width:40px;
    height:40px;
    cursor:pointer;
}
.taskAddBoard{
    width:40rem;
}
.taskAddBoard label{
    font-size:clamp(1rem,2vw,1.5rem);
    margin-top:0.5rem;
    margin-bottom:0.4rem;
}
.taskAddBoard input,.taskAddBoard select,.taskAddBoard textarea{
    font-size:clamp(1rem,2vw,1.3rem);
    padding:0.25rem;
}
.btnTaskBoard{
    display:flex;
    justify-content:center;
    margin-top:2rem;
    margin-left:2rem;
}
.btnTaskBoard button{
    font-size:1.4rem;
    padding:0.6rem 1.2rem;
    margin-right:3rem;
    cursor:pointer;
}
.discarded{
  opacity:0.6;
  position:relative
}
.discarded::before{
  position:absolute;
  content:"";
  width: 100%;
  height:3px;
  background:black;
  top:50%;
  left:0;
}
input{
    cursor:pointer;
}
@media screen and (max-width:2000px){
    .category li h3{
        display:none;
    }
    .taskList .task p,.taskList .task input{
        float:left;
    }
}
@media screen and (max-width:1000px){
    .projects h2,.projects li h3{
        display:none;
    }
    .sidebar{
        width:2rem
    }
    .taskList .task{
        flex-direction:column;
        padding-top:1rem;
    }
    .taskList .task p,.taskList .task input{
        font-size:1.5rem;
        margin-bottom:1rem;
    }
    .taskList .task input{
        margin-left:-0.5rem;
    }
    .taskAddBoard{
        max-width:26rem;
    }
    .category li img{
        margin-right:0.25rem;
        width:40px;
        height:40px;
      }
      .projectUpdateBtn,.projectDeleteBtn,.taskDeleteBtn,.taskUpdateBtn{
        padding:0.3rem 2rem;
        font-size:1rem;
    }
    .task .projectOptionBox{
        right:1rem;
    }
    .projects .projectOptionBox{
        right:-8rem;
    }
    main{
        grid-template-columns:3rem 1fr;
    }
    .addIconProject{
        width:35px;
        height:35px;
        margin-left:-0.2rem;
    }
}
@media screen and (max-width:500px){
    .taskAddBoard label, .taskAddBoard input,.taskAddBoard button{
        font-size:0.8rem
    }
    .taskAddBoard{
        max-width:20rem;
    }
}
